<mat-toolbar color="primary">
  <button
    (click)="toggleSidenav.emit()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span style="cursor: pointer" routerLink="/">Home</span>
  <span style="flex: 1 1 auto"></span>
  <button
    style="margin: 1rem"
    mat-raised-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/register"
  >
    Login
  </button>

  <span
    style="cursor: pointer"
    class="material-icons"
    routerLinkActive="settingsIcon"
    routerLink="/settings"
    >settings</span
  >
</mat-toolbar>
